*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.7%;
    height: 100%;
    font-weight: bold;
    overflow: hidden;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 10% 70% 5%;
    overflow: hidden;
}


/* CABECERA - HEADER */
header{
    height: 15vh;
    background: #F5FFFA;
    display: grid;
    grid-template-columns: 30% 65%;
    border-bottom: .2rem solid #2D293C;
    grid-template-rows: calc(15vh - .2rem);
}
/* el titulo dentro de la cabecera - header h1 */
header h1{
    font-size: 1.5rem;
    font-family: 'Inter';
    text-align: center;
    margin: auto;
    color: black;
}

/* la imagen dentro de la figura de la cabecera - header >figure > img */
header figure{
    width: 100%;
    height: 100%;
    text-align: center;
}
header figure img{
    background-size: contain;
    
    width: calc(100% - 18%);
    height: 95%;
    margin: 2.5% 0;
}
/* SECCION NOMBRE Y MENU DE NAVEGACION - SECTION */
.seccion_nombre_menu{
    height: 10vh;
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
}
/* el subtitulo dentro de la sesion - section >h2 */
.seccion_nombre_menu h2{
    font-size: 2.3rem;
    text-align: end;
    margin: auto;
    width: 90%;
    color: #4AA49C;
    font-family: 'Imprima';
    text-shadow: .1rem 0rem  black;
}

/* boton dentro de la sesion - section >boton */
.seccion_nombre_menu button {
    text-align: start;
    border: none;
    background-color: transparent;
}
/* boton hamburguesa */ 
#boton {
    font-size: 4.5rem;
}

/* menu de navegacion */
/* mostrar menu */
.mostrarMenu{
    left: 100%;
    transition: 1s;
}
nav{
    position: absolute;
    top: 90%;
    background-color:  #DDFFEE;
    width: 100%;
    height: 76vh;
    border-top: .2rem solid black;
    left: 0%;
    transition: all 1s;
}
nav ul li{
    list-style: none;
    margin: calc(75vh - 69vh) 13%;
    text-align: center;
}
nav ul li a{
    font-size: 2rem;
    text-shadow: .5rem .1rem 0 #fff;
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
   color: white;
   text-shadow: none;
   box-shadow: 350px 0 #2D293C  inset,
                -350px 0 #327973 inset;
    transition:all 1s;
    border-radius: 1rem;
    padding: 2%;
}

/* CONTENIDO PRINCIPAL - MAIN */
main{
    height: 70vh;
}
/* enlaces para el registro tanto de animales como del cultivo  */
main .botones_animales_cultivo li{
    list-style: none;
    display: inline;
    margin: 2% calc(100% - 93%);
}
main .botones_animales_cultivo a{width: 35%;
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    padding: 1% 5%;
    
    text-align: center;
    border-radius: .7rem;
    border: solid black;
}

/* boton indicando en que esta en la session de animales */
.estas_aqui{
    background-color: #D9D9D9;
    color: #0048B4;
}
.no_estas_aqui{
    color: black;
}
main .botones_animales_cultivo a:hover{
    color: #2D293C;
    background-color: #DDFFEE;
    transition: all .7s;
}

/* formulario */
main form{
    margin-top: 2%;
    padding: 2%;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
}
main form input{
    font-size: 1.2rem;
    border-radius: .7rem;
    text-align:center;
    height: 6vh;
    width: 58%;
    margin: auto;
}
main form label{
    width: 34%;
    font-size: 1.4rem;
    margin-top: 3%;
    margin-left: 4%;
}

main form .boton{
    margin-top: 5%;
    display: flexbox;
    width: 35%;
    height: 7vh;
    font-size: 1.4rem;
    background-color: #4AA49C;
    color: white;
}
main form .boton:hover{
    background-color: #2D293C;
    
}

/* PIE DE PAGINA - FOOTER */
footer{
    height: 5vh;
    text-align: justify;
}
/* el parrafo dentro del pie de pagina - footer >p */
footer p{
    font-size: 1rem;
}

/* MODO TABLET  */
@media (min-width: 768px) and (max-width: 1023px) {
    body{
        grid-template-rows: 15% 10% 68% 7%;
    }
    
    
    /* CABECERA - HEADER */
    header{
        height: 15vh;
    }
    /* el titulo dentro de la cabecera - header h1 */
    header h1{
        font-size: 3.2rem;
    }
    
    /* la imagen dentro de la figura de la cabecera - header >figure > img */
    header figure img{
        width: calc(100% - 25%);
        height: 90%;
    }

    /* SECCION NOMBRE Y MENU DE NAVEGACION - SECTION */
    .seccion_nombre_menu{
        height: 10vh;
    }
    /* el subtitulo dentro de la sesion - section >h2 */
    .seccion_nombre_menu h2{
        font-size: 4.5rem;
    }
    
    /* boton hamburguesa */ 
    #boton {
        font-size: 7rem;
    }

    nav ul li a{   
        font-size: 3.5rem;
    }
    

    /* CONTENIDO PRINCIPAL - MAIN */
    main{
        height: 68vh;
        display: grid;
        grid-template-rows: 10vh 45vh 13vh;
    }

    /* enlaces para el registro tanto de animales como del cultivo  */
    main .botones_animales_cultivo{
    padding: 2.5% 0;
    }

    main .botones_animales_cultivo li{
    margin: 0 calc(100% - 91%);
    }

    main .botones_animales_cultivo a{
    width: 30%;
    font-size: 4rem;
    height: 7vh;
    padding:1% 0;
    }



    /* formulario */

    main form input{
    width: 55%;
    font-size: 2.5rem;
    }
    main form label{
    font-size: 2.5rem;
    margin-top: 5%;
    }

    main form .boton{
    height: 7vh;
    width: 30%;
    font-size: 2.5rem;
    }


    
    /* PIE DE PAGINA - FOOTER */
    footer{
        height: 7vh;
    }
    /* el parrafo dentro del pie de pagina - footer >p */
    footer p{
        margin: 0 2%;
    font-size: 2rem;
    }
}

/* MODO ESCRITORIO - PC */
@media (min-width: 1023px) {
    body{
        grid-template-rows: 15% 10% 68% 7%;
    }
    
    
    /* CABECERA - HEADER */
    header{
        height: 15vh;
    }
    /* el titulo dentro de la cabecera - header h1 */
    header h1{
        font-size:4.5rem;
    }
    
    /* la imagen dentro de la figura de la cabecera - header >figure > img */
    header figure img{
        width: calc(100% - 55%);
        height: 100%;
        margin: 0;
    }

    /* SECCION NOMBRE Y MENU DE NAVEGACION - SECTION */
    .seccion_nombre_menu{
        height: 10vh;
    }
    /* el subtitulo dentro de la sesion - section >h2 */
    .seccion_nombre_menu h2{
        text-align: center;
        top: 13vh;
        position: absolute;
        left: 4%;
        font-size: 5rem;
    }
    
    /* boton dentro de la sesion - section >boton */
    .seccion_nombre_menu button {
    display: none; 
    }


/* menu de navegacion */
/* mostrar menu */
    .mostrarMenu{
    left: 0%;
    }
    nav{
    position: absolute;
    top: -1%;
    width: 100%;
    height: 10vh;
    border-top: none;
    }
    nav ul{
    margin: 2% auto;
    }
    nav ul li{
    margin: 0 1.4%;
    display: inline;
    text-align: center;
    }
    nav ul li a{   
    font-size: 3rem;
    padding: 1%;
    }
    nav ul li a:hover{
    border-radius: 1rem;
    padding: .7% 1%;
    }
    
    /* CONTENIDO PRINCIPAL - MAIN */
    main{
        margin-top: 10vh;
        height: 60vh;
        display: grid;
        grid-template-rows: 10vh 50vh ;
    }

    /* enlaces para el registro tanto de animales como del cultivo  */
    main .botones_animales_cultivo{width:40%;
    margin: 0 auto;
    padding: 1% 0;
    }

    main .botones_animales_cultivo li{
    width:100%;
    margin:  0 calc(100% - 91%);
    }

    main .botones_animales_cultivo a{
    width: 30%;
    font-size: 4rem;
    height: 6vh;
    padding: 0;
    }

    /* formulario */
    main form{
        width: 60%;
        padding-top: 1%;
        margin: 0 calc(100% - 75%);
    }

    main form input{padding: 0;
    margin: 0;
    width: 40%;
    height: 5vh;
    font-size: 2.5rem;
    }
    main form label{padding: 0;
    height: 5vh;
    width: 40%;
    font-size: 3rem;
    margin: 0%;
    }

    main form .boton{
    margin:0 calc(100% - 90%);
    height: 5vh;
    width: 20%;
    font-size: 3rem;
    }

    
    /* PIE DE PAGINA - FOOTER */
    footer{
        height: 7vh;
    }
    /* el parrafo dentro del pie de pagina - footer >p */
    footer p{
    text-align: center;
    margin: 1%;
    font-size: 2rem;
    }
}