*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.7%;
    height: 100%;
    font-weight: bold;
    overflow: hidden;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 10% 70% 5%;
    overflow: hidden;
}


/* CABECERA - HEADER */
header{
    background: #F5FFFA;
    display: grid;
    grid-template-columns: 30% 65%;
    border-bottom: .2rem solid #2D293C;
    grid-template-rows: calc(15vh - .2rem);
}
/* el titulo dentro de la cabecera - header h1 */
header h1{
    font-size: 1.5rem;
    font-family: 'Inter';
    text-align: center;
    margin: auto;
    color: black;
}

/* la imagen dentro de la figura de la cabecera - header >figure > img */
header figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(239, 250, 185);
}
header figure img{
    background-size: contain;
    width: calc(100% - 18%);
    height: calc(100% - 10%);
}
/* SECCION NOMBRE Y MENU DE NAVEGACION - SECTION */
section{
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
}
/* el subtitulo dentro de la sesion - section >h2 */
section h2{
    font-size: 2rem;
    text-align: center;
    margin: auto;
}

/* boton dentro de la sesion - section >boton */
section button {
    text-align: start;
    border: none;
    background-color: transparent;
}
/* boton hamburguesa */ 
#boton {
    font-size: 4rem;
    
}

/* menu de navegacion */
/* mostrar menu */
.mostrarMenu{
    left: 100%;
    transition: 1s;
}
nav{
    position: absolute;
    top: 90%;
    background-color:  #DDFFEE;
    width: 100%;
    height: 76vh;
    border-top: .2rem solid black;
    left: 0%;
    transition: all 1s;
}
nav ul li{
    list-style: none;
    margin: calc(75vh - 68vh) 13%;
    text-align: center;
}
nav ul li a{
    font-size: 2rem;
    text-shadow: .5rem .1rem 0 #fff;
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
   color: white;
   text-shadow: none;
   box-shadow: 350px 0 #2D293C  inset,
                -350px 0 #327973 inset;
    transition:all 1s;
    border-radius: 1rem;
    padding: 2%;
}

/* CONTENIDO PRINCIPAL - MAIN */

/* el subtitulo del subtitulo dentro del contenido principal - main >h3 */
main h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 3%;
    color: #4AA49C;
    font-family: 'Imprima';
    text-shadow: .1rem 0rem  black;
}
/* la figura dentro del contenido principal - main >figure */
main figure{
    width: 90%;
    margin: 5% auto;
    height: 35vh;
}
/* la imagen dentro de la figure del contenido principal - main >figure >img */
main figure img{
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: .7rem;
}
/* el parrafo dentro del contenido principal - main >p */
main p{
    margin: 3% 5%;
    font-size: 1.7rem;
    text-align: center;
}