*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.7%;
    height: 100%;
    font-weight: bold;
    overflow: hidden;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 65% 5%;
    overflow: hidden;
}


/* CABECERA - HEADER */
header{
    height: 15vh;
    position:static;
    background: #F5FFFA;
    display: grid;
    grid-template-columns: 30% 65%;
    border-bottom: .2rem solid #2D293C;
    grid-template-rows: calc(15vh - .2rem);
}
/* el titulo dentro de la cabecera - header h1 */
header h1{
    font-size: 1.5rem;
    font-family: 'Inter';
    text-align: center;
    margin: auto;
    color: black;
}

/* la imagen dentro de la figura de la cabecera - header >figure > img */
header figure{
    width: 100%;
    height: 100%;
    text-align: center;
}
header figure img{
    background-size: contain;
    
    width: calc(100% - 18%);
    height: 95%;
    margin: 2.5% 0;
}
/* SECCION NOMBRE Y MENU DE NAVEGACION - SECTION */
section{
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
    height: 15vh;
}
/* el subtitulo dentro de la sesion - section >h2 */
section h2{
    font-size: 2.3rem;
    text-align: center;
    margin: auto;
    width: 80%;
    color: #4AA49C;
    font-family: 'Imprima';
    text-shadow: .1rem 0rem  black;
}

/* boton dentro de la sesion - section >boton */
section button {
    text-align: start;
    border: none;
    background-color: transparent;
}
/* boton hamburguesa */ 
#boton {
    margin-top: calc(15vh - 14vh);
    font-size: 4.5rem;
}

/* menu de navegacion */
/* mostrar menu */
.mostrarMenu{
    left: 100%;
    transition: 1s;
}
nav{
    position: absolute;
    top: 90%;
    background-color:  #DDFFEE;
    width: 100%;
    height: 76vh;
    border-top: .2rem solid black;
    left: 0%;
    transition: all 1s;
}
nav ul li{
    list-style: none;
    margin: calc(75vh - 70vh) 13%;
    text-align: center;
}
nav ul li a{   
    font-size: 2rem;
    text-shadow: .5rem .1rem 0 #fff;
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
   color: white;
   text-shadow: none;
   box-shadow: 350px 0 #2D293C  inset,
                -350px 0 #327973 inset;
    transition:all 1s;
    border-radius: 1rem;
    padding: 2%;
}

/* CONTENIDO PRINCIPAL - MAIN */
main{
    height: 65vh;
}
/* la figura dentro del contenido principal - main >figure */
main figure{
    width: 90%;
    margin: 5% auto 2%;
    height: 35vh;
}
/* la imagen dentro de la figure del contenido principal - main >figure >img */
main figure img{
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: .7rem;
}
/* el parrafo dentro del contenido principal - main >p */
main p{
    margin: 1% 5%;
    font-size: 1.7rem;
    text-align: center;
}

/* PIE DE PAGINA - FOOTER */
footer{
    height: 5vh;
    text-align: justify;
}
/* el parrafo dentro del pie de pagina - footer >p */
footer p{
    font-size: 1rem;
}

/* MODO TABLET  */
@media (min-width: 768px) and (max-width: 1023px) {
    body{
        grid-template-rows: 15% 10% 68% 7%;
    }
    
    
    /* CABECERA - HEADER */
    /* el titulo dentro de la cabecera - header h1 */
    header h1{
        font-size: 3.2rem;
    }
    
    /* la imagen dentro de la figura de la cabecera - header >figure > img */
    header figure img{
        width: calc(100% - 25%);
        height: 90%;
        margin: 0;
    }

    /* SECCION NOMBRE Y MENU DE NAVEGACION - SECTION */
    /* el subtitulo dentro de la sesion - section >h2 */
    section h2{
        font-size: 4.5rem;
    }
    
    /* boton hamburguesa */ 
    #boton {
        font-size: 7rem;
    }

    nav ul li a{   
        font-size: 3.5rem;
    }
    nav ul li a:hover{
       box-shadow:  650px 0 #2D293C  inset,
                    -650px 0 #327973 inset;
        border-radius: 1.5rem;
    }
    
    /* CONTENIDO PRINCIPAL - MAIN */
    /* la figura dentro del contenido principal - main >figure */
    main figure{
        margin: 5% auto;
    }
    /* la imagen dentro de la figure del contenido principal - main >figure >img */
    main figure img{
        border-radius: 1rem;
    }
    /* el parrafo dentro del contenido principal - main >p */
    main p{
        font-size: 2.7rem;
    }
    
    /* PIE DE PAGINA - FOOTER */
    /* el parrafo dentro del pie de pagina - footer >p */
    footer p{
        margin: 0 2%;
    font-size: 2rem;
    }
}

/*  */
@media (min-width: 1023px) {
    body{
        grid-template-rows: 15% 10% 68% 7%;
    }
    
    
    /* CABECERA - HEADER */
    /* el titulo dentro de la cabecera - header h1 */
    header h1{
        font-size:4.5rem;
    }
    
    /* la imagen dentro de la figura de la cabecera - header >figure > img */
    header figure img{
        width: calc(100% - 55%);
        height: 100%;
        margin: 0;
    }

    /* SECCION NOMBRE Y MENU DE NAVEGACION - SECTION */
    /* el subtitulo dentro de la sesion - section >h2 */
    section h2{
        text-align: center;
        top: 14vh;
        position: absolute;
        left: 10%;
        font-size: 5rem;
    }
    
    /* boton dentro de la sesion - section >boton */
section button {
    display: none; 
}


/* menu de navegacion */
/* mostrar menu */
.mostrarMenu{
    left: 0%;
}
nav{
    position: absolute;
    top: -1%;
    width: 100%;
    height: 10vh;
    border-top: none;
}
nav ul{
    margin: 2% auto;
}
nav ul li{
    margin: 0 1.4%;
    display: inline;
    text-align: center;
}
nav ul li a{   
    border-radius: 1rem;
    font-size: 3rem;
    padding: 1%;
}
nav ul li a:hover{
    border-radius: 1rem;
    padding: .7% 1%;
}
    
    /* CONTENIDO PRINCIPAL - MAIN */
    main{
        display: grid;
        height: 100%;
        grid-template-columns: 55% 45%;
        grid-template-rows: 25% 50%;
        grid-template-areas: 
        "bienvenidad bienvenidad"
        "imagen parrafo";
    }
    /* la figura dentro del contenido principal - main >figure */
main figure{
    grid-area: imagen;
    width: 90%;
    margin-top: 2%;
    margin-left: 10%;
    height: 45vh;
}
/* la imagen dentro de la figure del contenido principal - main >figure >img */
main figure img{
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: .7rem;
}
    /* el parrafo dentro del contenido principal - main >p */
    main p{
        grid-area: parrafo;
        margin: auto 6%;
        font-size: 3rem;
    }
    
    /* PIE DE PAGINA - FOOTER */
    /* el parrafo dentro del pie de pagina - footer >p */
    footer p{
    text-align: center;
    margin: 0;
    font-size: 2rem;
    }
}